body{
  background-color: rgb(255, 255, 255);
}
#map { 
  margin: auto auto;
  height: 32rem; 
  border-style: dashed;
}
.Ruta{
  position: relative;
  margin: auto auto;
  text-align: center;
  padding: 10px;
}
#agregarPreguntas{
  margin: 1rem auto;
}
input{
  width:30vw;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}
button{
  vertical-align: -webkit-baseline-middle;
}
input#cantidad{
  margin: auto 2rem;
}
button#agregar{
  margin: auto -2.7%;
}
button#eliminar {
  vertical-align: -webkit-baseline-middle;
  margin: auto 2rem;
}
#p1{
  position: relative;
  margin: 1rem auto;
  text-align: center;
  background-color: rgb(199, 222, 241);
  border-radius: 3%;
  height: 10rem;
  width: 35rem;
}
.contenedorPreguntas{
  position: relative;
  margin: 1rem auto;
  text-align: center;
  background-color: rgb(199, 222, 241);
  border-radius: 3%;
  height: 10rem;
  width: 35rem;
}
.T1{
  background-color: aliceblue;
}
select#comboBox.cB{
  margin: 15% 75%;
  background-color: rgb(171, 208, 238);
  border-style: hidden;
  border-radius: 15%;
}
select#comboBox.cB{
  margin: auto auto;
  background-color: rgb(171, 208, 238);
  border-style: hidden;
  border-radius: 15%;
}
p#numPregunta{
  overflow: scroll;
  overflow-y: hidden; 
  overflow-x: hidden; 
}
img.eliminar{
  margin: 0.5rem;
  width: 30px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.cero{
  grid-column: 1;
    grid-row: 1;
    width: 5rem;
}
.one{
  grid-column: 1;
  grid-row: 1;
}
.two{
  grid-column: 2;
  grid-row: 1;
}